{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="main-inner-banner-one">
    <div class="blur-1">
        <img src="{% static 'images/Blur_1.png' %}" alt="bg blur">
    </div>
    <div class="blur-2">
        <img src="{% static 'images/Blur_2.png' %}" alt="bg blur">
    </div>
    <div class="banner-one-shape1 animate-this wow fadeIn" data-wow-delay=".7s"></div>
    <div class="banner-one-shape2 animate-this wow fadeIn" data-wow-delay=".9s"></div>
    <div class="banner-one-shape3 animate-this wow fadeIn" data-wow-delay="1s"></div>
    <div class="banner-one-shape4">
        <img src="{% static 'images/banner-inner-shape-one.png' %}" alt="shap">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrum-title-one">
                    <h1 class="h1-title">Blog Detail</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-blog-detail-one">
    <div class="blog-detail-shape1-one">
        <img src="{% static 'images/blog-grid-shape1-one.png' %}" alt="Shape">
    </div>
    <div class="blog-detail-shape2-one">
        <img src="{% static 'images/blog-grid-shape2-one.png' %}" alt="Shape">
    </div>
    <div class="blog-detail-shape3-one">
        <img src="{% static 'images/blog-grid-shape1-one.png' %}" alt="Shape">
    </div>
    <div class="blog-detail-shape4-one">
        <img src="{% static 'images/blog-grid-shape2-one.png' %}" alt="Shape">
    </div>
    <div class="blog-detail-shape5-one">
        <img src="{% static 'images/blog-grid-shape1-one.png' %}" alt="Shape">
    </div>
    <div class="blog-detail-shape6-one">
        <img src="{% static 'images/blog-grid-shape2-one.png' %}" alt="Shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-detail-box-one">
                    <h2 class="h2-title blog-one">Guide to Finding the Best SEO Keywords</h2>
                    <div class="blog-date-author-one">
                        <div class="blog-date-one">
                            <div class="blog-circle-one"></div>
                            <a href="javascript:void(0);">7 March 2021</a>
                        </div>
                        <div class="blog-author-one">
                            <div class="blog-circle-one"></div>
                            <a href="javascript:void(0);">By Developers</a>
                        </div>
                        <div class="blog-comment-one">
                            <div class="blog-circle-one"></div>
                            <a href="javascript:void(0);">7 Comments</a>
                        </div>
                    </div>
                    <div class="blog-img-one wow fadeInUp" data-wow-delay=".4s">
                        <img src="{% static 'images/blog-detail-img1-one.jpg' %}" alt="Blog">
                        <div class="blog-tag-one">
                            <a href="javascript:void(0);">Advertising</a>
                        </div>
                    </div>
                    <p>Nulla tempus orci sed diam tempor efficitur. Aenean rhoncus nulla tellus, ac ultricies velit dictum non. Quisque ac fermentum mauris. Suspendisse quis pulvinar tortor. Cras consequat ligula sit amet turpis consequat, facilisis laoreet dolor semper. Sed tellus metus, volutpat eget gravida sit amet, accumsan ac ante. Praesent vel leo massa. Ut ut ultrices magna.</p>
                    <p>Aliquam imperdiet purus et odio pellentesque accumsan. Sed auctor libero id risus interdum rhoncus. Curabitur sagittis purus id enim tempor euismod. Morbi semper sed libero sed venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <h3 class="h3-title blog-detail-title-one">Know Your Digital Goals</h3>
                    <p>Maecenas vitae pellentesque felis, ut feugiat eros. Nulla facilisi. Integer congue mollis varius. Sed ut leo malesuada, efficitur sapien vel, posuere erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut sed massa vel magna efficitur posuere. Morbi at justo est. Curabitur a eros eros.</p>
                    <div class="blog-detail-two-img-one">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-img-one wow fadeInUp" data-wow-delay=".4s">
                                    <img src="{% static 'images/blog-detail-img2-one.jpg' %}" alt="Blog">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-img-one wow fadeInDown" data-wow-delay=".4s">
                                    <img src="{% static 'images/blog-detail-img3-one.jpg' %}" alt="Blog">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="h3-title">Get Specific Analytics</h3>
                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas feugiat odio diam, quis suscipit libero fringilla vel. Vivamus vel vulputate leo. Praesent sem eros, sollicitudin id dapibus a, pulvinar non ex.</p>
                    <div class="points-one">
                        <ul>
                            <li>
                                <div class="check-list">
                                    <img src="{% static 'images/check.png' %}" alt="check">
                                </div>
                                <p>Quisque condimentum fringilla justo eu maximus. Pellentesque pharetra convallis tortor et finibus.</p>
                            </li>
                            <li>
                                <div class="check-list">
                                    <img src="{% static 'images/check.png' %}" alt="check">
                                </div>
                                <p>Quisque condimentum fringilla justo eu maximus. Pellentesque pharetra convallis tortor et finibus.</p>
                            </li>
                            <li>
                                <div class="check-list">
                                    <img src="{% static 'images/check.png' %}" alt="check">
                                </div>
                                <p>Quisque condimentum fringilla justo eu maximus. Pellentesque pharetra convallis tortor et finibus.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-img-one wow fadeInUp" data-wow-delay=".4s">
                        <img src="{% static 'images/blog-detail-img4-one.jpg' %}" alt="Blog">
                    </div>
                    <h3 class="h3-title">Always Remember Your Goals!</h3>
                    <p>Proin tempor erat magna, in vehicula lectus eleifend in. Praesent pharetra nisi malesuada aliquet pellentesque. Proin scelerisque tincidunt nisi, sed pretium diam vulputate ut. Integer a accumsan tortor. Sed nec ligula sodales nibh gravida maximus. Quisque aliquam quam ut justo placerat vulputate.</p>
                    <div class="blog-detail-text-box-one">
                        <div class="blog-detail-quort-one">
                            <img src="{% static 'images/quote-white.png' %}" alt="Quort">
                        </div>
                        <h3 class="h3-title">There are no secrets to success. It is the result of preparation, hard work, and learning from failure.</h3>
                        <span>– Paul Tournier</span>
                    </div>
                    <p>Fusce eu fermentum leo, et bibendum est. Curabitur finibus nisl non mollis tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    <div class="blog-detail-tag-social-one">
                        <div class="blog-side-tag-one">
                            <ul>
                                <li><a href="javascript:void(0);">Business</a></li>
                                <li><a href="javascript:void(0);">Corporate</a></li>
                                <li><a href="javascript:void(0);">Blog</a></li>
                            </ul>
                        </div>
                        <div class="blog-detail-social-media-one">
                            <ul>
                                <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="blog-about-me-one wow fadeInUp" data-wow-delay=".4s">
                        <div class="blog-about-me-img-one">
                            <img src="{% static 'images/blog-about-me-img-one.jpg' %}" alt="Member">
                        </div>
                        <div class="blog-about-me-content">
                            <h3 class="h3-title">About Johen Flores</h3>
                            <p>Aliquam imperdiet purus et odio pellentesque accumsan. Sed auctor libero id risus interdum rhoncus.</p>
                            <div class="blog-about-me-social-one">
                                <span>In Socials:</span>
                                <div class="blog-detail-social-media-one">
                                    <ul>
                                        <li><a href="javascript:void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-detail-related-post-one">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-detail-related-post-title-one">
                                    <div class="subtitle">
                                        <div class="subtitle-circle-one"></div>
                                        <h2 class="h2-subtitle-one">Our Blog</h2>
                                    </div>
                                    <h2 class="h2-title">Related Posts</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-12">
                                <div class="blog-box-one wow fadeInUp" data-wow-delay=".4s">
                                    <div class="blog-img-one">
                                        <img src="{% static 'images/blog1-one.jpg' %}" alt="Blog">
                                        <div class="blog-tag-one">
                                            <a href="javascript:void(0);">SEO</a>
                                        </div>
                                    </div>
                                    <div class="blog-box-content-one">
                                        <div class="blog-date-author-one">
                                            <div class="blog-date-one">
                                                <div class="blog-circle-one"></div>
                                                <a href="javascript:void(0);">7 March 2021</a>
                                            </div>
                                            <div class="blog-author-one">
                                                <div class="blog-circle-one"></div>
                                                <a href="javascript:void(0);">By Developers</a>
                                            </div>
                                        </div>
                                        <a href="{% url 'blog-detail' %}"><h3 class="h3-title">6 Ways to Find If Your Sites Been Hacked</h3></a>
                                        <a href="{% url 'blog-detail' %}" class="btn-link-one">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12">
                                <div class="blog-box-one wow fadeInDown" data-wow-delay=".5s">
                                    <div class="blog-img-one">
                                        <img src="{% static 'images/blog2-one.jpg' %}" alt="Blog">
                                        <div class="blog-tag-one">
                                            <a href="javascript:void(0);">Marketing</a>
                                        </div>
                                    </div>
                                    <div class="blog-box-content-one">
                                        <div class="blog-date-author-one">
                                            <div class="blog-date-one">
                                                <div class="blog-circle-one"></div>
                                                <a href="javascript:void(0);">7 March 2021</a>
                                            </div>
                                            <div class="blog-author-one">
                                                <div class="blog-circle-one"></div>
                                                <a href="javascript:void(0);">By Developers</a>
                                            </div>
                                        </div>
                                        <a href="{% url 'blog-detail' %}"><h3 class="h3-title">Guide to Finding the Best SEO Keywords</h3></a>
                                        <a href="{% url 'blog-detail' %}" class="btn-link-one">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-detail-comment-one">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-detail-comment-title-one">
                                    <div class="subtitle">
                                        <div class="subtitle-circle-one"></div>
                                        <h2 class="h2-subtitle-one">read Comments</h2>
                                    </div>
                                    <h2 class="h2-title">Comments (02)</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-detail-comment-box-one wow fadeInUp" data-wow-delay=".4s">
                                    <div class="blog-detail-comment-img-one">
                                        <img src="{% static 'images/blog-detail-comment-img1-one.jpg' %}" alt="Comment">
                                    </div>
                                    <div class="blog-detail-comment-content-one">
                                        <div class="blog-detail-comment-name-reply">
                                            <div class="blog-detail-comment-name-one">
                                                <h3 class="h3-title">David Parker</h3>
                                                <span>7 March, 2021</span>
                                            </div>
                                            <a href="javascript:void(0);" class="sec-btn-one">Reply</a>
                                        </div>
                                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas feugiat odio diam, quis suscipit libero fringilla vel. Vivamus vel vulputate leo. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="col-lg-12">
                                <div class="blog-detail-comment-box-one wow fadeInUp" data-wow-delay=".4s">
                                    <div class="blog-detail-comment-img-one">
                                        <img src="{% static 'images/blog-detail-comment-img2-one.jpg' %}" alt="Comment">
                                    </div>
                                    <div class="blog-detail-comment-content-one">
                                        <div class="blog-detail-comment-name-reply">
                                            <div class="blog-detail-comment-name-one">
                                                <h3 class="h3-title">Harry Olson</h3>
                                                <span>7 March, 2021</span>
                                            </div>
                                            <a href="javascript:void(0);" class="sec-btn-one">Reply</a>
                                        </div>
                                        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas feugiat odio diam, quis suscipit libero fringilla vel. Vivamus vel vulputate leo. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-detail-leave-comment-one">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-detail-leave-comment-title-one">
                                    <div class="subtitle">
                                        <div class="subtitle-circle-one"></div>
                                        <h2 class="h2-subtitle-one">Write Comments</h2>
                                    </div>
                                    <h2 class="h2-title">Leave A Comment</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 wow fadeInUp" data-wow-delay=".4s">
                                <form class="leave-reply-form-one">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-6">
                                            <div class="form-box-one">
                                                <input type="text" class="form-input-one" name="firstname" placeholder="First Name" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-6">
                                            <div class="form-box-one">
                                                <input type="text" class="form-input-one" name="lastname" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-12">
                                            <div class="form-box-one">
                                                <input type="email" class="form-input-one" name="email" placeholder="Email Address" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-box-one">
                                                <textarea class="form-input-one" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-box-one mb-0">
                                                <button type="submit" class="sec-btn-one"><span>Post Now</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="blog-search-form">
                    <form>
                        <div class="form-box">
                            <input type="text" name="search" placeholder="Search..." required>
                            <button type="submit" class="sec-btn-one"><span><i class="fa fa-search" aria-hidden="true"></i></span></button>
                        </div>
                    </form>
                </div>
                <div class="blog-recent-post-one">
                    <h3 class="h3-title">Recent Post</h3>
                    <div class="blog-side-line-one"></div>
                    <ul>
                        <li>
                            <div class="blog-recent-post-img-one">
                                <img src="{% static 'images/blog-recent-post-img1-one.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-recent-post-title-one">
                                <a href="{% url 'blog-detail' %}"><span>6 Ways to Find If Your Site’s Been Hacked</span></a>
                                <div class="blog-date-one">
                                    <div class="blog-circle-one"></div>
                                    <a href="javascript:void(0);">7 March 2021</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="blog-recent-post-img-one">
                                <img src="{% static 'images/blog-recent-post-img2-one.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-recent-post-title-one">
                                <a href="{% url 'blog-detail' %}"><span>Ways To Analyse Logs Using The File</span></a>
                                <div class="blog-date-one">
                                    <div class="blog-circle-one"></div>
                                    <a href="javascript:void(0);">7 March 2021</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="blog-recent-post-img-one">
                                <img src="{% static 'images/blog-recent-post-img3-one.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-recent-post-title-one">
                                <a href="{% url 'blog-detail' %}"><span>The 10 Best Amazon Product Research</span></a>
                                <div class="blog-date-one">
                                    <div class="blog-circle-one"></div>
                                    <a href="javascript:void(0);">7 March 2021</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="blog-recent-post-img-one">
                                <img src="{% static 'images/blog-recent-post-img4-one.jpg' %}" alt="Blog">
                            </div>
                            <div class="blog-recent-post-title-one">
                                <a href="{% url 'blog-detail' %}"><span>6 Ways to Find If Your Site’s Been Hacked</span></a>
                                <div class="blog-date-one">
                                    <div class="blog-circle-one"></div>
                                    <a href="javascript:void(0);">7 March 2021</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="blog-categories-one">
                    <h3 class="h3-title">Categories</h3>
                    <div class="blog-side-line-one"></div>
                    <ul>
                        <li>
                            <a href="javascript:void(0);"><img src="{% static 'images/plus.png' %}" alt="Icon"><span>Business</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{% static 'images/plus.png' %}" alt="Icon"><span>Analysis</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{% static 'images/plus.png' %}" alt="Icon"><span>Cryptocurrency</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{% static 'images/plus.png' %}" alt="Icon"><span>Technology</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{% static 'images/plus.png' %}" alt="Icon"><span>SEO</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{% static 'images/plus.png' %}" alt="Icon"><span>Marketing</span></a>
                        </li>
                    </ul>
                </div>
                <div class="blog-gallery-one">
                    <h3 class="h3-title">Gallery</h3>
                    <div class="blog-side-line-one"></div>
                    <ul>
                        <li>
                            <a href="{% static 'images/blog-gallery-img1-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img1-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img2-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img2-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img3-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img3-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img4-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img4-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img5-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img5-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img6-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img6-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img7-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img7-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img8-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img8-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                        <li>
                            <a href="{% static 'images/blog-gallery-img9-up-one.jpg' %}" class="blog-gallery-img-one" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{% static 'images/blog-gallery-img9-one.jpg' %}" alt="Gallery">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="blog-side-tag-one">
                    <h3 class="h3-title">Tags</h3>
                    <div class="blog-side-line-one"></div>
                    <ul>
                        <li><a href="javascript:void(0);">Business</a></li>
                        <li><a href="javascript:void(0);">Corporate</a></li>
                        <li><a href="javascript:void(0);">Blog</a></li>
                        <li><a href="javascript:void(0);">Marketing</a></li>
                        <li><a href="javascript:void(0);">Creative</a></li>
                        <li><a href="javascript:void(0);">SEO</a></li>
                        <li><a href="javascript:void(0);">Advertising</a></li>
                        <li><a href="javascript:void(0);">Morden</a></li>
                    </ul>
                </div>
                <div class="service-contact-box-one">
                    <div class="service-contact-blur-one">
                        <img src="{% static 'images/blur_8.png' %}" alt="Blur">
                    </div>
                    <h3 class="h3-title">Contact With Us For Any Advice</h3>
                    <div class="service-contact-icon-one">
                        <img src="{% static 'images/call_service-one.png' %}" alt="Icon">
                    </div>
                    <p>Need help? Talk to an expert</p>
                    <h3 class="h3-title">+91 578 6941 354</h3> 
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}